<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">
      <h1>Formación</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--<ion-content>
  <p>Puntos</p>
  <p>Tiros libres</p>
  <p>Dobles</p>
  <p>Triples</p>
  <ion-button (click)="sumar()" color="{{lista[cont%3]}}">Sumar puntos</ion-button>
  <ion-button (click)="sumar()">Sumar puntos</ion-button>
</ion-content> -->
  <!--expand inset para el borde redondeado-->
  <ion-accordion-group expand="inset">
    <ion-accordion value="first">
      <ion-item slot="header" color="primary">
        <ion-label>Técnico en laboratorio de imagen</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Ciclo formativo de grado medio - IES Néstor Almendros - 2012/2013</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="primary">
        <ion-label>Técnico Superior en iluminación, captación y tratamiento de la imagen</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Ciclo formativo de grado superior - IES Néstor Almendros - 2014/2016</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="primary">
        <ion-label>Diseño gráfico, web y creatividad</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Máster - EUSA Escuela de negocios de Sevilla - 2016/2017</div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="primary">
        <ion-label>Desarrollo de aplicaciones multiplataforma</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Ciclo formativo de grado superior - IES Julio Verne - 2022/2023</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
<ion-content>
  <!-- <ion-list>
    <ion-card *ngFor="let item of lista">{{item}}</ion-card>
  </ion-list> -->
</ion-content>