<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Header</ion-title>
    </ion-toolbar>
  </ion-header>
-->
  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-header>
      <ion-card color="primary">
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-thumbnail slot="start">
                <ion-img
                  src="https://img.freepik.com/vector-gratis/ilustracion-colorida-programador-femenino-trabajando_23-2148277397.jpg?w=826&t=st=1696777610~exp=1696778210~hmac=67ea2538a6eb933f96a70070b0f00978e37df5d29584794489be5ae0f0def8ec"
                  alt="Vector mujer programadora"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <ion-text color="primary">
                  <h1>Ana Campos López</h1>
                </ion-text>
                <ion-text color="secondary">
                  <h2>Desarrolladora de Aplicaciones Multiplataforma</h2>
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-header>

    <ion-content>
      <h3>Formación Académica</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed tellus nec mauris auctor dignissim
        fermentum
        in
        risus. Sed nec convallis sapien, id tincidunt enim. Mauris ornare eleifend nunc id mattis. Fusce augue diam,
        sagittis nec posuere at, consectetur tempor lectus. Nulla at lectus eget mauris iaculis malesuada mollis sed
        neque.
        Curabitur et risus tristique, malesuada mauris finibus, elementum massa. Proin lacinia mauris quis ligula
        blandit
        ullamcorper.</p>
      <ion-button [routerLink]="['/tabs/tab2/']">Ver más detalles</ion-button>
      <h3>Experiencia Laboral</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed tellus nec mauris auctor dignissim
        fermentum
        in
        risus. Sed nec convallis sapien, id tincidunt enim. Mauris ornare eleifend nunc id mattis. Fusce augue diam,
        sagittis nec posuere at, consectetur tempor lectus. Nulla at lectus eget mauris iaculis malesuada mollis sed
        neque.
        Curabitur et risus tristique, malesuada mauris finibus, elementum massa. Proin lacinia mauris quis ligula
        blandit
        ullamcorper.</p>
      <ion-button [routerLink]="['/tabs/tab3/']">Ver más detalles</ion-button>
      <!-- <ion-button shape="round" fill="outline" slot="fixed"><ion-icon name="arrow-up-outline"></ion-icon></ion-button> -->
    </ion-content>


  </ion-content>