<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-item>
        <ion-label>
          <h1>Ana Campos López</h1>
        </ion-label>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header>
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>Desarrolladora Multiplataforma</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-icon name="person"></ion-icon>
            <ion-label>
              <p>Lorem ipsum....</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-header>

  <ion-content>
    <h3>Formación Académica</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed tellus nec mauris auctor dignissim fermentum in
      risus. Sed nec convallis sapien, id tincidunt enim. Mauris ornare eleifend nunc id mattis. Fusce augue diam,
      sagittis nec posuere at, consectetur tempor lectus. Nulla at lectus eget mauris iaculis malesuada mollis sed neque.
      Curabitur et risus tristique, malesuada mauris finibus, elementum massa. Proin lacinia mauris quis ligula blandit
      ullamcorper.</p>
    <ion-button [routerLink]="['/tabs/tab2/']">Ver más detalles</ion-button>
    <h3>Experiencia Laboral</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed tellus nec mauris auctor dignissim fermentum in
      risus. Sed nec convallis sapien, id tincidunt enim. Mauris ornare eleifend nunc id mattis. Fusce augue diam,
      sagittis nec posuere at, consectetur tempor lectus. Nulla at lectus eget mauris iaculis malesuada mollis sed neque.
      Curabitur et risus tristique, malesuada mauris finibus, elementum massa. Proin lacinia mauris quis ligula blandit
      ullamcorper.</p>
      <ion-button [routerLink]="['/tabs/tab3/']">Ver más detalles</ion-button>
  <!-- <ion-button shape="round" fill="outline" slot="fixed"><ion-icon name="arrow-up-outline"></ion-icon></ion-button> -->
  </ion-content>


</ion-content>
